body {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: $text-color;
  background-color: #fff;

  @media screen and (min-width: $desktop) {
    background-color: #fffff9;
  }
}

.body__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 67px;
    padding-right: 67px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 229px;
    padding-right: 229px;
  }
}

.body__background {
  background-size: 100%;
  background-repeat: no-repeat;

  @media screen and (min-width: $mobile) and (max-width: $mobile-max) {
    background-image: url('./../images/flour-mobile.png'), url('./../images/pic-mobile.png'),
      url('./../images/header/pic-donuts-mobile.png'), url('./../images/bg-top-mobile.png'),
      url('./../images/bg-bottom-mobile.png');
    background-position: bottom right, top 309px center, top left, center top, center bottom 63px;
    background-size: auto, auto, auto, contain, contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('./../images/flour-mobile@2x.png'), url('./../images/pic-mobile@2x.png'),
        url('./../images/header/pic-donuts-mobile@2x.png'), url('./../images/bg-top-mobile.png'),
        url('./../images/bg-bottom-mobile.png');
      background-size: 87px 64px, 290px 310px, 120px 114px, contain, contain;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    background-image: url('./../images/flour-tablet.png'), url('./../images/confetti-tablet.png'),
      url('./../images/donut-registration-tablet.png'), url('./../images/pic-tablet.png'),
      url('./../images/header/pic-donuts-tablet.png'), url('./../images/bg-top-tablet.png'),
      url('./../images/bg-bottom-tablet.png');
    background-position: bottom right, bottom 299px right 0px, bottom 491px left 0px,
      top 377px left 11px, top 0px right 137px, center top, center bottom 63px;
    background-size: auto, auto, auto, auto, auto, contain, contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('./../images/flour-tablet@2x.png'),
        url('./../images/confetti-tablet@2x.png'),
        url('./../images/donut-registration-tablet@2x.png'), url('./../images/pic-tablet@2x.png'),
        url('./../images/header/pic-donuts-tablet@2x.png'), url('./../images/bg-top-tablet.png'),
        url('./../images/bg-bottom-tablet.png');
      background-size: 147px 144px, 280px 374px, 235px 255px, 330px 352px, 380px 361px, contain,
        contain;
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url('./../images/flour-desktop.png'), url('./../images/confetti-desktop.png'),
      url('./../images/donut-registration-desktop.png'), url('./../images/pic-desktop.png'),
      url('./../images/header/pic-donuts-desktop.png'), url('./../images/header/spoon-desktop.png'),
      url('./../images/bg-top-desktop.png'), url('./../images/bg-bottom-desktop.png');
    background-position: bottom right, bottom 218px right 1px, bottom 557px left 63px,
      top 548px left 71px, top right, top 166px left 0, center top, center bottom;
    background-size: auto, auto, auto, auto, auto, auto, contain, contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('./../images/flour-desktop@2x.png'),
        url('./../images/confetti-desktop@2x.png'),
        url('./../images/donut-registration-desktop@2x.png'), url('./../images/pic-desktop@2x.png'),
        url('./../images/header/pic-donuts-desktop@2x.png'),
        url('./../images/header/spoon-desktop@2x.png'), url('./../images/bg-top-desktop.png'),
        url('./../images/bg-bottom-desktop.png');
      background-size: 319px 184px, 606px 589px, 257px 255px, 512px 547px, 719px 660px, 142px 450px,
        contain, contain;
    }
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $background-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
