// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #424242;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #009688;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // Путь к изображениям из SASS-файла всегда такой, как из папки css
//   background-image: url('../images/demo.jpg');
//   background-size: cover;
//   background-position: center;
// }
$card-set-gap: 32px;
body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2e2520;
}
.program-title,
.program-text,
.program-list,
.program-item,
.program-card-title,
.program-card-text {
  margin: 0;
  padding: 0;
}
.program {
  width: 824px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  outline: 2px solid rgb(116, 20, 180);
}
.program-title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 65px;
  color: #2e2520;
}
.program-container {
  display: flex;
}
.program-description {
  width: 392px;
  margin-right: 40px;
}
.program-list,
.program-set {
  list-style-type: none;
}
.program-item:not(:last-child) {
  margin-bottom: 15px;
}
.program-item:first-child {
  margin-top: 21px;
}
.program-item:last-child {
  margin-bottom: 21px;
}
.program-set {
  display: flex;
  flex-wrap: wrap;
  width: 424px;
  margin: 0;
  padding: 0;
  margin-right: -1 * $card-set-gap;
}
.program-card {
  position: relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  margin: 0;
  padding: 0;
  flex-basis: calc(100% / 2 - $card-set-gap);
  margin-right: $card-set-gap;
  border-radius: 50%;
  background-color: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}
.program-card:nth-child(n + 3) {
  margin-top: $card-set-gap;
}
.program-icon {
  width: 25px;
  height: 25px;
}
