@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03;
  color: #2e2520;
  background-color: #fef3e4;
}

.body__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .body__container {
    width: 320px;
  }
}
.body__container .body__background {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top, center bottom 216px;
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
}
@media screen and (min-width: 768px) {
  .body__container .body__background {
    background-position: center top, center bottom 63px;
  }
}
@media screen and (min-width: 1280px) {
  .body__container .body__background {
    background-position: center top, center bottom -101px;
  }
}
@media screen and (min-width: 768px) {
  .body__container {
    width: 768px;
    padding-left: 67px;
    padding-right: 67px;
  }
}
@media screen and (min-width: 1280px) {
  .body__container {
    width: 1280px;
    padding-left: 229px;
    padding-right: 229px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #fef3e4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  margin-top: 7px;
}
@media screen and (min-width: 768px) {
  .header {
    margin-top: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    align-items: center;
  }
}

.logo-icon,
.logo-link {
  display: block;
  width: 96px;
  height: 43px;
  margin: 0 auto;
  fill: #2e2520;
}
@media screen and (min-width: 768px) {
  .logo-icon,
.logo-link {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .logo-icon,
.logo-link {
    width: 158px;
    height: 71px;
    margin-right: 38px;
  }
}

.navigation {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.9px) {
  .navigation {
    align-items: center;
  }
}

.mobile-menu__icon {
  width: 30px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 1280px) {
  .mobile-menu__icon {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .navigation__list {
    display: flex;
    align-items: center;
    height: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation___item:not(:last-child) {
    margin-right: 20px;
  }
}

.navigation___link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
}

.hero__tittle {
  margin: 0;
  margin-top: 33px;
  font-family: "Caveat Brush", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  color: #2e2520;
}
@media screen and (min-width: 768px) {
  .hero__tittle {
    margin-top: 10px;
    text-align: start;
  }
}
@media screen and (min-width: 1280px) {
  .hero__tittle {
    font-size: 64px;
    line-height: 1.02;
    margin-top: 57px;
  }
}

.hero__text {
  margin: 0;
  margin-top: 3px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #2e2520;
}
@media screen and (min-width: 768px) {
  .hero__text {
    text-align: start;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 24px;
    line-height: 1.21;
    margin-top: 15px;
  }
}

.btn-registration {
  display: block;
  border-style: none;
  margin: 0 auto;
  margin-top: 37px;
  width: 145px;
  height: 40px;
  left: 88px;
  top: 219px;
  background: #ab816c;
  border-radius: 25px;
  font-family: "Caveat Brush", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn-registration {
    margin-left: 0;
    margin-top: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-registration {
    margin-top: 30px;
    width: 158px;
    height: 45px;
    font-size: 24px;
  }
}

.social-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .social-links-list {
    justify-content: start;
    margin-top: 31px;
  }
}
@media screen and (min-width: 1280px) {
  .social-links-list {
    margin-top: 65px;
  }
}

.social-links-list__item:not(:last-child) {
  padding-right: 10px;
}
@media screen and (min-width: 1280px) {
  .social-links-list__item:not(:last-child) {
    padding-right: 12px;
  }
}

.icon-twitter {
  width: 19px;
  height: 15px;
}
@media screen and (min-width: 1280px) {
  .icon-twitter {
    width: 24px;
    height: 19px;
  }
}

.icon-instagram {
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 1280px) {
  .icon-instagram {
    width: 19px;
    height: 19px;
  }
}

.icon-facebook {
  width: 9px;
  height: 15px;
}
@media screen and (min-width: 1280px) {
  .icon-facebook {
    width: 11px;
    height: 19px;
  }
}

.menu-button {
  width: 30px;
  height: 18px;
  padding: 0;
  margin-left: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open {
  width: 18px;
  height: 18px;
}

.menu-button__icon {
  width: 100%;
  height: 100%;
}

.menu-button__cross-icon {
  display: none;
}

.menu-button.is-open .menu-button__cross-icon {
  display: block;
}

.menu-button.is-open .menu-button__menu-icon {
  display: none;
}

.donuts-bgi {
  position: absolute;
  z-index: -2;
}
@media screen and (max-width: 767.9px) {
  .donuts-bgi {
    top: -32%;
    left: -5%;
  }
}
@media screen and (min-width: 768px) {
  .donuts-bgi {
    right: -150%;
    top: -35%;
  }
}
@media screen and (min-width: 1280px) {
  .donuts-bgi {
    right: -143%;
    top: -60%;
  }
}

@media screen and (max-width: 1199.9px) {
  .spoon-bgi {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .spoon-bgi {
    position: absolute;
    top: 15%;
    left: -72%;
  }
}

.mobile-menu {
  margin: 0 auto;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 25px;
  z-index: 3;
  background: rgba(254, 243, 228, 0.9);
}
.mobile-menu.is-open {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .mobile-menu.is-open {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu.is-open {
    max-width: 1279px;
  }
}

.mobile-menu__list {
  margin: 40px 0 0 0;
  padding: 0;
}

.mobile-menu__item {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.mobile-menu__item + .mobile-menu__item {
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item + .mobile-menu__item {
    margin-top: 40px;
  }
}

.mobile-menu__link {
  margin-bottom: 0;
  color: #2e2520;
}
.mobile-menu__item:hover .mobile-menu__link {
  color: #876655;
}

.section.about {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .card {
    width: 690px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    width: 980px;
  }
}

.card-thumb {
  max-width: 330px;
  margin-right: 24px;
}

.card-content {
  max-width: 336px;
}

.about__title {
  font-family: "Caveat Brush", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
  color: #2e2520;
}

.about__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: left;
  color: #2e2520;
}

.myBtn {
  height: 65px;
  width: 67px;
  border: none;
  color: #ab816c;
}

#more {
  display: none;
}

@media screen and (min-width: 1280px) {
  #more {
    display: block;
  }

  .myBtn {
    display: none;
  }
}
.registration__title {
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 2.71;
  color: #2e2520;
}
@media screen and (max-width: 767.9px) {
  .registration__title {
    position: absolute;
    z-index: 1;
    width: calc(100% - 30px);
    margin-bottom: 0;
    top: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .registration__title {
    top: 0;
    left: 50%;
    font-size: 36px;
    line-height: 1.81;
  }
}

.registration {
  position: relative;
  padding-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .registration {
    padding-bottom: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .registration {
    padding-bottom: 77px;
  }
}

.registration__information, .registration__price {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .registration__information, .registration__price {
    text-align: right;
  }
}

.registration__price {
  line-height: 1.22;
  margin-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .registration__price {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .registration__price {
    line-height: 1.09;
  }
}

.registration__information--city {
  margin-bottom: 25px;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .registration__information--city {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .registration__information--city {
    line-height: 1.2;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .registration__form {
    display: flex;
  }
}

.registration__form-text {
  margin-bottom: 17px;
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .registration__form-text {
    margin-bottom: 13px;
    max-width: 292px;
    text-align: left;
    font-size: 18px;
    line-height: 1.22;
  }
}

.registration__field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.registration__field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.registration__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.registration__field {
  height: 22px;
  padding: 2px;
  border: 1px solid transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #ab816c;
  background-color: #fffff9;
  max-width: 265px;
}
@media screen and (min-width: 1280px) {
  .registration__field {
    width: 234px;
  }
}

.registration__field:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (min-width: 1280px) {
  .registration__field:not(:last-child) {
    margin-bottom: 15px;
  }
}

.registration__button {
  margin-bottom: 34px;
  background-color: #ab816c;
  font-family: Caveat Brush;
  font-size: 18px;
  line-height: 2.22;
  color: #ffffff;
  border-radius: 25px;
  width: 145px;
}
@media screen and (min-width: 768px) {
  .registration__button {
    margin-left: 25px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .registration__button {
    margin-left: 38px;
    font-size: 24px;
    width: 158px;
  }
}

.registration__container {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 91px;
  background-color: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
}
@media screen and (min-width: 768px) {
  .registration__container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 54px;
    padding-bottom: 53px;
    border-radius: 150px;
  }
}

@media screen and (min-width: 768px) {
  .container__registration--geometry {
    margin-right: 30px;
    width: 179px;
  }
}
@media screen and (min-width: 1280px) {
  .container__registration--geometry {
    width: 234px;
  }
}

@media screen and (min-width: 768px) {
  .container__registration:last-child {
    margin-left: 30px;
  }
}

.container__registration:last-child::before {
  content: "";
  display: block;
  width: calc(100% - 30px);
  height: 1px;
  background-color: rgba(171, 129, 108, 0.5);
  position: absolute;
}
@media screen and (max-width: 767.9px) {
  .container__registration:last-child::before {
    top: 202px;
  }
}
@media screen and (min-width: 768px) {
  .container__registration:last-child::before {
    left: 209px;
    bottom: 35px;
    width: 1px;
    height: 190px;
  }
}
@media screen and (min-width: 1280px) {
  .container__registration:last-child::before {
    left: 264px;
  }
}

.registration__form-container:first-child {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .registration__form-container:first-child {
    margin-bottom: 0;
  }
}

.registration__form-container:last-child {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .registration__form-container:last-child {
    display: block;
  }
}

.registration__container::before {
  display: none;
}
@media screen and (min-width: 768px) {
  .registration__container::before {
    content: "";
    display: block;
    height: 235px;
    width: 255px;
    position: absolute;
    top: -51px;
    left: -70px;
    z-index: -1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    background-color: #fef3e4;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 57px;
  position: relative;
}
@media screen and (min-width: 320px) {
  .container {
    width: 290px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 626px;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 2.71;
  /* identical to box height, or 271% */
  text-align: center;
  color: #2e2520;
}

.reviews-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.reviews-list__item:nth-child(1), .reviews-list__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 768px) {
  .reviews-list__item:nth-child(1), .reviews-list__item:nth-child(3) {
    display: block;
  }
}

.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  border-radius: 50%;
  overflow: hidden;
  width: 110px;
  height: 110px;
}
@media screen and (min-width: 1280px) {
  .thumb {
    width: 136px;
    height: 136px;
  }
}

.thumb--center {
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 320px) {
  .thumb--center {
    width: 110px;
    height: 110px;
  }
}
@media screen and (min-width: 768px) {
  .thumb--center {
    width: 186px;
    height: 186px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .thumb--center {
    width: 234px;
    height: 234px;
  }
}

.rate {
  margin-bottom: 32px;
  border-radius: 25%;
}

.rate-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rate-list__item {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
}
.rate-list__item:not(:last-child) {
  margin-right: 4px;
}

.reviewer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review-card__name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64px;
  /* identical to box height, or 464% */
  text-align: center;
  color: #2e2520;
}

.star-fill {
  position: absolute;
  top: 0;
  left: 0;
}

.not-current {
  display: none;
}

.review-card__review {
  margin-bottom: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.reviews-list__photo {
  display: block;
  width: 100%;
  height: auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.pagination__line {
  position: relative;
  width: 35px;
  height: 16px;
}
.pagination__line:hover .pagination__prev, .pagination__line:hover .pagination__next, .pagination__line:focus .pagination__prev, .pagination__line:focus .pagination__next {
  opacity: 1;
}
.pagination__line:hover .pagination__select, .pagination__line:focus .pagination__select {
  opacity: 0;
}

.pagination__select {
  fill: #ab816c;
}

.pagination__prev,
.pagination__next {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.pagination__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.21;
  /* identical to box height */
  text-align: center;
  color: #ab816c;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 1280px) {
  .pagination__text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.program {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
  width: 824px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.program-title,
.program-text,
.program-set,
.program-list,
.program-item,
.program-card-title,
.program-card-text {
  margin: 0;
  padding: 0;
}

.program-title,
.program-card-title {
  font-family: Caveat Brush, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #2e2520;
}

.program-title {
  font-size: 36px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.program-container {
  display: flex;
}

.program-description {
  width: 392px;
  margin-right: 40px;
}

.program-list,
.program-set {
  list-style-type: none;
}

.program-item:not(:last-child) {
  margin-bottom: 15px;
}

.program-item:first-child {
  margin-top: 21px;
}

.program-item:last-child {
  margin-bottom: 21px;
}

.program-set {
  display: flex;
  flex-wrap: wrap;
  width: 424px;
  margin-top: 40px;
  margin-right: -32px;
}

.program-card {
  position: relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  margin: 0;
  padding: 0;
  flex-basis: calc(100% / 2 - 32px);
  margin-right: 32px;
  border-radius: 50%;
  background-color: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

.program-card:nth-child(n+3) {
  margin-top: 32px;
}

.program-card--transform {
  transform: translateY(30%);
}

.program-icon {
  width: 25px;
  height: 25px;
}

.program-icon--size {
  width: 31px;
  height: 22px;
}

.img-donut {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -45%);
}

.program-card-title {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 63px;
  margin-bottom: 16px;
}

.program-card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 15px;
}

@media screen and (min-width: 320px) {
  .footer .container {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 19px;
    background-image: url("./../images/flour-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
    background-size: 87px 64px;
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .footer .container {
    background-image: url("./../images/flour-mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    padding-top: 51px;
    padding-bottom: 21px;
    background-image: url("./../images/flour-tablet.png");
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
    background-size: 147px 144px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer .container {
    background-image: url("./../images/flour-tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    padding-top: 77px;
    background-image: url("./../images/flour-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
    background-size: 319px 184px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .footer .container {
    background-image: url("./../images/flour-desktop@2x.png");
  }
}
.footer h2 {
  margin-bottom: -30px;
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: #2e2520;
}
@media screen and (min-width: 1200px) {
  .footer h2 {
    margin-bottom: -15px;
    font-size: 36px;
    line-height: 1.81;
  }
}

.footer-form {
  margin: 0 auto;
  margin-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-bottom: 77px;
  }
}
.footer-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer-form__label .footer-form__title {
  height: 65px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 4.06;
  color: #2e2520;
}
@media screen and (min-width: 1200px) {
  .footer-form__label .footer-form__title {
    font-size: 18px;
    line-height: 3.61;
  }
}
.footer-form__label input {
  display: inline-block;
  width: 265px;
  padding-left: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #ab816c;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ab816c;
}
@media screen and (min-width: 768px) {
  .footer-form__label input {
    width: 410px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__label input {
    width: 430px;
  }
}
.footer-form__label input:last-child {
  margin-top: 27px;
  margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .footer-form__label input:last-child {
    margin-bottom: 29px;
  }
}
.footer-form__label input::-moz-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.footer-form__label input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.footer-form__label input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}
.footer-form__submit {
  display: flex;
  margin: 0 auto;
  width: 145px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
  background-color: #ab816c;
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 3.61;
  color: #ffffff;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__submit:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 1200px) {
  .footer-form__submit {
    width: 158px;
    height: 45px;
    font-size: 24px;
    line-height: 2.71;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  margin: 0 auto;
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-social {
    margin-bottom: 50px;
  }
}
.footer-social__item:not(:last-child) {
  margin-right: 4px;
}
@media screen and (min-width: 1200px) {
  .footer-social__item:not(:last-child) {
    margin-right: 7px;
  }
}
.footer-social__item .footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__item .footer-social__link .footer-social__svg {
  fill: #000000;
  width: 20px;
  height: 20px;
}
.footer-social__item .footer-social__link:hover {
  background-color: #ab816c;
}
.footer-social__item .footer-social__link:hover .footer-address__svg {
  fill: #ffffff;
}

.footer-address {
  display: flex;
  justify-content: space-between;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
  margin: 0 auto;
}
.footer-address__item .footer-address__link {
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.footer-address__item .footer-address__link .footer-address__svg {
  fill: #000000;
  margin-right: 3px;
}
.footer-address__item .footer-address__link .footer-address__svg.svg-phone {
  width: 13px;
  height: 13px;
}
.footer-address__item .footer-address__link .footer-address__svg.svg-location {
  width: 11px;
  height: 14px;
}
.footer-address__item .footer-address__link:hover {
  color: #674d40;
}
.footer-address__item .footer-address__link:hover .footer-address__svg {
  fill: #674d40;
}/*# sourceMappingURL=main.css.map */