
<body>
    <footer class="footer">
        <div class="container">
            <h2>Contact</h2>
            <form class="footer-form">
                <label class="footer-form__label">
                    <span class="footer-form__title">We will answer any question!</span>
                    <input type="email" name="e-mail" placeholder="Email">
                    <input type="text" name="question" placeholder="Type your question">
                </label>
                <button class="footer-form__submit" type="submit">
                    Send
                </button>
            </form>
            <ul class="footer-social list-no-style">
                <li class="footer-social__item"><a class="footer-social__link" href="#" aria-label="иконка твиттер">
                    <svg class="footer-social__svg">
                        <use href="./images/icon.svg#icon-twitter"></use>
                    </svg>
                </a></li>
                <li class="footer-social__item"><a class="footer-social__link" href="#" aria-label="иконка инстаграм">
                    <svg class="footer-social__svg">
                        <use href="./images/icon.svg#icon-instagram"></use>
                    </svg>
                </a></li>
                <li class="footer-social__item"><a class="footer-social__link" href="#" aria-label="иконка фейсбук">
                    <svg class="footer-social__svg">
                        <use href="./images/icon.svg#icon-facebook"></use>
                    </svg>
                </a></li>
            </ul>
            <address>
                <ul class="footer-address list-no-style">
                    <li class="footer-address__item"><a class="footer-address__link href="tel:+19102228855">
                        <svg class="footer-address__svg svg-phone">
                            <use href="./images/icon.svg#icon-phone"></use>
                        </svg>(910)222-8855</a></li>
                    <li class="footer-address__item"><a class="footer-address__link href="#">
                        <svg class="footer-address__svg svg-location">
                            <use href="./images/icon.svg#icon-location"></use>
                        </svg>New York</a></li>
                </ul>
            </address>
        </div>
    </footer>
</body>
