<header class="header">
       
    <a href="#" class="logo-link">
    <svg class="logo-icon">
       <use href="./images/icon.svg#icon-logo"></use>
    </svg>
</a>
<svg class="mobile-menu__icon">
    <use href="./images/icon.svg#icon-menu"></use>
</svg>

<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation___item"><a href="#" class="navigation___link">About us</a></li>
        <li class="navigation___item"><a href="#" class="navigation___link">Program</a></li>
        <li class="navigation___item"><a href="#" class="navigation___link">Reviews</a></li>
        <li class="navigation___item"><a href="#" class="navigation___link">Contacts</a></li>
    </ul>
</nav>
</header>

<section class="hero">
    <h1 class="hero__tittle">Donut Masterclass <br> with the Donut King</h1>
    <p class="hero__text">Hosted by Eva Green</p>
    <button type="button" class="btn-registration">Register</button>

<ul class="social-links-list">
    <li class="social-links-list__item ">
        <a href="https://twitter.com" target="_blank">
        <svg class="icon-twitter">
            <use href="./images/icon.svg#icon-twitter" ></use>
        </svg>
        </a>
    </li>
    <li class="social-links-list__item ">
        <a href="https://www.instagram.com" target="_blank">
        <svg class="icon-instagram" >
            <use href="./images/icon.svg#icon-instagram"></use>
        </svg>
        </a>
    </li>
    <li class="social-links-list__item ">
        <a href="https://www.instagram.com" target="_blank">
        <svg class="icon-facebook">
            <use href="./images/icon.svg#icon-facebook"></use>
        </svg>
        </a>
    </li>
</ul>
</section>