<section class="program">
    <div class="program-container">
        <div class="program-description">
            <h2 class="program-title">Program</h2>
            <p class="program-text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
                in her New York donut shop!</p>
            <ul class="program-list">
                <li class="program-item">> A stand up history of donuts</li>
                <li class="program-item">> Make 3 donut flavors of your choice</li>
                <li class="program-item">> Enjoy all-you-can-eat donuts</li>
                <li class="program-item">> Cocktail pairings and coffee included</li>
                <li class="program-item">> Photoshoot by professional photographer</li>
                <li class="program-item">> Secret receipt of cooking from Eva</li>
                <li class="program-item">> All products are included in the price</li>
            </ul>
            <p class="program-text">Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional
                in donuts cooking!
            </p>
        </div>
        <ul class="program-set">
            <li class="program-card">
                <img class="img-donut" src="./images/donut-desktop.png" alt="" width="94">
                <h3 class="program-card-title">Type of the event</h3>
                <p class="program-card-text">Cooking classes</p>
                <svg class="program-icon">
                    <use href="./images/icon.svg#chefhat"></use>
                </svg>
            </li>
            <li class="program-card program-card--transform">
                <img class="img-donut" src="./images/donut-desktop-3.png" alt="" width="83">
                <h3 class="program-card-title">Number of guests</h3>
                <p class="program-card-text">1 to 20</p>
                <svg class="program-icon">
                    <use href="./images/icon.svg#people"></use>
                </svg>
            </li>
            <li class="program-card">
                <img class="img-donut" src="./images/donut-desktop-2.png" alt="" width="83">
                <h3 class="program-card-title">Time of the event</h3>
                <p class="program-card-text">18:30 (2.5 hours)</p>
                <svg class="program-icon">
                    <use href="./images/icon.svg#clock"></use>
                </svg>
            </li>
            <li class="program-card program-card--transform">
                <img class="img-donut" src="./images/donut-desktop-1.png" alt="" width="83">
                <h3 class="program-card-title">The host speaks</h3>
                <p class="program-card-text">English, French</p>
                <svg class="program-icon program-icon--size">
                    <use href="./images/icon.svg#chat"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>