.footer {
    .container {
      @media screen and (min-width: 320px) {
        width: 100%;
        padding-top: 27px;
        padding-bottom: 19px;
  
        background-image: url('./../images/flour-mobile.png');
        background-repeat: no-repeat;
        background-position: bottom 0px right 0px;
        background-size: 87px 64px;
  
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url('./../images/flour-mobile@2x.png');
        }
      }
  
      @media screen and (min-width: 768px) {
        padding-top: 51px;
        padding-bottom: 21px;
  
        background-image: url('./../images/flour-tablet.png');
        background-repeat: no-repeat;
        background-position: bottom 0px right 0px;
        background-size: 147px 144px;
  
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url('./../images/flour-tablet@2x.png');
        }
      }
  
      @media screen and (min-width: 1200px) {
        padding-top: 77px;
  
        background-image: url('./../images/flour-desktop.png');
        background-repeat: no-repeat;
        background-position: bottom 0px right 0px;
        background-size: 319px 184px;
  
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          background-image: url('./../images/flour-desktop@2x.png');
        }
      }
    }
  
    h2 {
      margin-bottom: -30px;
      font-family: Caveat Brush;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 2.71;
      text-align: center;
      color: $text-color;
  
      @media screen and (min-width: 1200px) {
        margin-bottom: -15px;
        font-size: 36px;
        line-height: 1.81;
      }
    }
  }
  
  .footer-form {
    margin: 0 auto;
    margin-bottom: 50px - 5px;
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 82px - 5px;
    }
  
    &__label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
  
      .footer-form__title {
        height: 65px;
        width: 100%;
        text-align: center;
  
        font-weight: 400;
        font-size: 16px;
        line-height: 4.06;
        color: $text-color;
  
        @media screen and (min-width: 1200px) {
          font-size: 18px;
          line-height: 3.61;
        }
      }
  
      input {
        display: inline-block;
        width: 265px;
        padding-left: 0;
        outline: none;
        border: none;
        border-bottom: 1px solid $button-color;
        background-color: transparent;
  
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: $input-text-color;
  
        @media screen and (min-width: 768px) {
          width: 410px;
        }
        @media screen and (min-width: 1200px) {
          width: 430px;
        }
        &:last-child {
          margin-top: 27px;
          margin-bottom: 39px;
  
          @media screen and (min-width: 768px) {
            margin-bottom: 29px;
          }
        }
  
        &::placeholder {
          color: rgba(171, 129, 108, 0.5);
        }
      }
    }
  
    &__submit {
      display: flex;
      margin: 0 auto;
      width: 145px;
      height: 40px;
      justify-content: center;
      align-items: center;
  
      border: none;
      border-radius: 25px;
      background-color: $button-color;
  
      font-family: Caveat Brush;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 3.61;
      color: $white-color;
      cursor: pointer;
  
      transition: transform 250ms $cubic-bezier;
  
      &:hover {
        transform: scale(1.05);
      }
  
      @media screen and (min-width: 1200px) {
        width: 158px;
        height: 45px;
  
        font-size: 24px;
        line-height: 2.71;
      }
    }
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    padding-inline-start: 0%;
    margin: 0 auto;
    margin-bottom: 35px;
  
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      margin-bottom: 50px;
    }
  
    &__item {
      &:not(:last-child) {
        margin-right: 9px - 5px;
  
        @media screen and (min-width: 1200px) {
          margin-right: 12px - 5px;
        }
      }
  
      .footer-social__link {
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        width: 30px;
        height: 30px;
  
        transition: background-color 250ms $cubic-bezier;
  
        .footer-social__svg {
          fill: $black-color;
          width: 20px;
          height: 20px;
        }
  
        &:hover {
          background-color: $button-color;
  
          .footer-address__svg {
            fill: $white-color;
          }
        }
      }
    }
  }
  
  .footer-address {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0%;
    margin: 0 auto;
  
    &__item {
      .footer-address__link {
        cursor: pointer;
  
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
  
        .footer-address__svg {
          fill: $black-color;
          margin-right: 3px;
          &.svg-phone {
            width: 13px;
            height: 13px;
          }
          &.svg-location {
            width: 11px;
            height: 14px;
          }
        }
  
        &:hover {
          color: $icon-color;
  
          .footer-address__svg {
            fill: $icon-color;
          }
        }
      }
    }
  }