.container {
  margin-left: auto;
  margin-right: auto;

  padding-top: 57px;
  position: relative;

  @media screen and (min-width: 320px) {
    width: 290px;
  }

  @media screen and (min-width: 768px) {
    width: 626px;
    // display: flex;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  margin: 0;
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 2.71;
  /* identical to box height, or 271% */

  text-align: center;

  color: $text-color;
}

.reviews-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.reviews-list__item {
  &:nth-child(1),
  &:nth-child(3) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &:nth-child(1),
    &:nth-child(3) {
      display: block;
    }
  }
}

.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  border-radius: 50%;
  overflow: hidden;
  width: 110px;
  height: 110px;

  @media screen and (min-width: 1280px) {
    width: 136px;
    height: 136px;
  }
}

.thumb--center {
  object-fit: contain;

  @media screen and (min-width: 320px) {
    width: 110px;
    height: 110px;
  }

  @media screen and (min-width: 768px) {
    width: 186px;
    height: 186px;
    margin-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    width: 234px;
    height: 234px;
  }
}

.rate {
  margin-bottom: 32px;
  border-radius: 25%;
}

.rate-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rate-list__item {
  position: relative;
  display: block;
  // background-color: tomato;
  width: 24px;
  height: 24px;

  &:not(:last-child) {
    margin-right: 4px;
  }
}

// .rate {
//   margin-right: auto;
//   margin-left: auto;
//   margin-bottom: 32px;
// }
// .reviews-list__photo {
// }
.reviewer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review-card__name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  margin: 0;
  font-family: Montserrat;

  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64px;
  /* identical to box height, or 464% */

  text-align: center;

  color: $text-color;
}

.star-fill {
  position: absolute;
  top: 0;
  left: 0;
}

.not-current {
  display: none;
}

.review-card__review {
  margin-bottom: 35px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.reviews-list__photo {
  display: block;
  width: 100%;
  height: auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.pagination__line {
  position: relative;
  // background-color: yellowgreen;
  width: 35px;
  height: 16px;

  &:hover .pagination__prev,
  &:hover .pagination__next,
  &:focus .pagination__prev,
  &:focus .pagination__next {
    opacity: 1;
  }

  &:hover .pagination__select,
  &:focus .pagination__select {
    opacity: 0;
  }
}

.pagination__select {
  fill: $button-color;
}

.pagination__prev,
.pagination__next {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.pagination__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.21;
  /* identical to box height */

  text-align: center;

  color: $button-color;

  margin-left: 10px;
  margin-right: 10px;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
